* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.python{
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.dashboard {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #f1f1f1;
}

.header {
	padding: 20px;
	background-color: #0163cb;
	color: #fff;
}

.header h1 {
	margin: 0;
}

.nav {
	flex: 1;
	background-color: #eee;
	padding: 20px;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav li {
	margin-bottom: 10px;
}

.nav a {
	display: block;
	padding: 10px;
	background-color: #ddd;
	color: #333;
	text-decoration: none;
}

.nav a:hover {
	color: #fff;
	text-decoration: underline;
}

.content {
	padding: 20px;
	width: 10px;
	flex: 2;
}

.content h2 {
	margin-top: 0;
}