:not(.python) {
	font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.python{
	margin: 10px;
	border-radius: 10px;
	overflow: hidden;
}

.dashboard {
	display: flex;
	flex-direction: column;
	height: 50%;
}

.header {
	padding: 20px;
	background-color: #0163cb;
	color: #fff;
}

.header h1 {
	margin: 0;
}

.nav {
	display: block;
	padding: 20px;
	position: sticky;
	top: 20px;
}

.nav ul {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav a {
	margin: 7px;
	padding: 10px;
	background-color: rgb(148, 192, 255);
	color: #333;
	text-decoration: none;
	border-radius: 5px;
}

.nav a:hover {
	color: #fff;
	text-decoration: underline;
}
.content {
	padding: 20px;
	width: 10px;
	flex: 2;
}

.content h2 {
	margin-top: 0;
}

.footer{
	margin-top: 10px;
	background-color: #666;
	color: white;
}

.footer ul {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer li{
	margin: 7px;
	padding: 10px;
	font-weight: bold;
}

.footer h5{
	text-align: right;
	justify-content: right;
	padding-bottom: 5px;
}