<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en-fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='/css/index.css') }}">
  <title>Visualisation Données</title>
</head>
{% extends _navigation.html %}
<body>
<h1>Message Board</h1>
<section>
  <header>
    {% block header %}  {% endblock header %}
  </header>
  <main>
    {% block graph %}<h1>Titre Graph</h1> {% endblock graph %}
    <h2 class="explications">Explications :</h2>
    {% block content %}<p>No messages.</p>{% endblock content %}
  <main>
</section>
</body>
</html>ml>