<!DOCTYPE html>
<html lang="en-fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/index.css') }}">
	<title>Visualisation Données</title>
</head>
<body>
	<div class="dashboard">
		<div class="header">
			<h1>Dashboard</h1>
			<div class="nav">
			<ul>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Analytics</a></li>
				<li><a href="#">Overview</a></li>
			</ul>
		</div>
		</div>
	</div>
				<!-- Place pour le graph -->
	<h2 class="explications">Explications :</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div class="footer">
	<h3>Made by</h3>
	<ul>
		<li>Blanco Théo</li>
		<li>Lemoine Mathieu</li>
		<li>Levasseur Dorian</li>
		<li>Longuet Cédric</li>
		<li>Mignot Nicolas</li>
	</ul>
	<h4>2024</h4>
</div>

</body>
</html>